@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.cs-img{
  object-fit: cover;
  border-radius: 55;
  height: 100%;
}

.cs-fs{
  font-size: 13px;
}