@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cs-h{
  min-height: 100vh;
}

.cs-bg-light{
  background-color: hsl(0, 0%, 98%) !important;
  transition: .5s;
}

.cs-bg-dark{
  background-color: hsl(207, 26%, 17%) !important;
  transition: .5s;
}

.cs-bg-el-light{
  background-color: hsl(0, 0%, 100%) !important;
  transition: .5s;
}

.cs-bg-el-dark{
  background-color: hsl(209, 23%, 22%) !important;
  transition: .5s;
}

.cs-text-color-light{
  color: hsl(200, 15%, 8%) !important;
  transition: .5s;
}

.cs-text-color-light::placeholder{
  color: hsl(200, 15%, 8%) !important;
  transition: .5s;
}

.cs-text-color-dark{
  color: hsl(0, 0%, 100%) !important;
  transition: .5s;
}

.cs-text-color-dark::placeholder{
  color: hsl(0, 0%, 100%) !important;
  transition: .5s;
}

.cs-fw-600{
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.card-img-top {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.cs-fs{
  font-size: 13px;
}

.cs-dd-item-light:hover {
  background-color: hsl(209, 23%, 22%) !important;
  color: hsl(0, 0%, 100%) !important;
}

.cs-dd-item-dark:hover {
  background-color: hsl(0, 0%, 100%) !important;
  color: hsl(207, 26%, 17%) !important;
}

.cs-w-input{
  width: 25% !important;
}

.cs-w-dd{
  width: 15% !important;
}

@media (max-width: 991px){
  .cs-grid{
    display: flex;
    flex-direction: column;
  }

  .cs-w-input{
    width: 100% !important;
  }
}